img {
    width: 250px;
    height: 200px;
    border-radius: 30px;
}

nav {
    float: right;
}

p,
ul {
    margin: 0 auto;
}

section {
    padding: 10vh 0;
}

.bg-info {
    background-color: pink;
}

.card {
    width: 300px;
}

.button {
    width: 30px
}


}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a,
    .topnav-right {
        float: none;
        display: block;
    }
    
    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}