img {
    width: 250px;
    height: 200px;
    border-radius: 30px;
}

nav {
    float: right;
}

p,
ul {
    margin: 0 auto;
}

section {
    padding: 10vh 0;
}

.bg-info {
    background-color: pink;
}

.card {
    width: 300px;
}

.button {
    width: 30px
}